extends layout

block content
  div.container
    div.panel.panel-default
      div.panel-heading OPS API Demo
      div.panel-body
        button.btn.btn-primary#get_opcounter Refresh
        hr
        div.chart#opcounter_chart